h1{
    background-color: red;
    height: 200px;
    width: 450px;
    border-color: black;
    font-size: larger;
    font-style: bold;
}
h2{
    height: 300px;
    width: 450px;
    background-color: yellow;
    font-size: larger;
    font-style: italic;

}
h3{
    height: 200px;
    width: 450px;
    background-color: blue;
    font-size: x-large;
    font-style: italic;
    
}